/* importa o estilo base do dashboard */
@import url('index.css');

/* formulário */
.containerform {
    background-color: var(--card-bg);
    margin-top: 40px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1);
}

/* título  */
.containerform h2 {
    margin-bottom: 25px;
    font-size: 1.3rem;
}

/* campos do formulário */
.grupoform {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

/* rótulos */
label {
    font-weight: 600;
    margin-bottom: 6px;
}

/* inputs */
input, select {
    padding: 12px 14px;
    border-radius: 8px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 1rem;
}

input:focus, select:focus {
    border-color: var(--primary-color);
}

/* botão de envio */
.botaosubmit {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    transition: 0.3s;
}

/* efeito ao colocar o mouse em cima do botão */
.botaosubmit:hover {
    opacity: 0.9;
}

/* projetos */
.projetos {
    background-color: var(--card-bg);
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1);
}

/* responsividade */
@media (max-width: 768px) {
    .form-container {
        padding: 20px;
    }

    input, select {
        font-size: 0.9rem;
    }

    table {
        font-size: 0.85rem;
    }
}

.link-projeto {
    text-decoration:underline;
    color: var(--text-light);
    color: var(--text-color);
}

.link-projeto:hover strong {
    color: var(--primary-color);
}